/* Styles généraux */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* Styles pour l'en-tête */
header {
  background-color: #f0f0f0;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  height: 50px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
}

.user-icon img {
  height: 30px;
  margin-left: 20px;
  cursor: pointer;
}

.popup {
  display: none;
}

/* Media queries pour la mise en page responsive */
@media (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: flex-start;
  }

  .logo {
    margin-bottom: 10px;
  }

  nav ul {
    flex-direction: column;
  }

  nav ul li {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .user-icon img {
    margin-left: 0;
  }
}

@media (max-width: 480px) {
  .logo img {
    height: 40px;
  }

  nav ul li a {
    font-size: 14px;
  }

  .user-icon img {
    height: 25px;
  }
}
